---
layout: default
---

<div class="home">

{% for post in site.posts %}
  <dt><time>{{ post.date | date: "%d %b %Y" }}</time></dt>
  <dd>
    {% if post.external_url %}
      [{{ post.title }}]({{ post.external_url }})
    {% else %}
      [{{ post.title }}]({{ post.url }})
    {% endif %}
  </dd>
{% endfor %}

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%-d %B %Y" }}</p>
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
