<div class="py2 post-footer">

<h5>Share this post on</h5>
<br>
        <a href="https://twitter.com/intent/tweet?original_referer={{site.url}}{{page.url}}&amp;text={{page.title}}&amp;url={{site.url}}{{page.url}}" class="fa fa-twitter" target="_blank"></a>&nbsp;&nbsp;    
        <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}&amp;t={{page.title}}" class="fa fa-facebook" target="_blank"></a>&nbsp;&nbsp;  
        <a href="javascript:window.print()" class="fa fa-print"></a>
	<p>
	</p>		
			
		<img src="/images/me.jpeg" alt="Stefano Marzorati" class="avatar" />
		<p>
		<a href="http://marzorati.co">Stefano Marzorati</a> - IT Manager - Addicted to new technology and lead away by innovation.
		<br>
		<br>
		<a href="#top" class="site-nav right" data-scroll-to-target><object type="image/svg+xml" data="/images/rocket-launch.svg"></object></a>
	</p>
   
  
</div>
