<div class="py2 post-footer">

<h5>Share this post on</h5>
    
        <a href="https://twitter.com/intent/tweet?original_referer={{site.url}}{{page.url}}&amp;text={{page.title}}&amp;url={{site.url}}{{page.url}}" class="fa fa-twitter" target="_blank"></a>&nbsp;&nbsp;    
        <a href="https://plus.google.com/share?url={{site.url}}{{page.url}}" class="fa fa-google-plus" target="_blank"></a>
		&nbsp;&nbsp;  
        <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}&amp;t={{page.title}}" class="fa fa-facebook" target="_blank"></a>
<p>
</p>		
		
  <img src="/images/me.jpeg" alt="Stefano Marzorati" class="avatar" />
  <p>
    <a href="http://marzorati.co">Stefano Marzorati</a> - Addicted to new technology and lead away by innovation.
	<br>
	<br>
	<a href="#top" class="site-nav right" data-scroll-to-target>&#8593; Back to top</a>
  </p>
   
  
</div>
